/*
 * Grid - Partials
 */

/* ----- Container ----- */
.container {
	width: @grid-container;
	margin-right: auto;
	margin-left: auto;
	padding-left: @grid-gutter / 2;
	padding-right: @grid-gutter / 2;
	.clearfix;
}

/* ----- Row ----- */
.row {
	margin-left: @grid-gutter / -2;
	margin-right: @grid-gutter / -2;
	.clearfix;
}

/* ----- Columns ----- */
[class^="column-"] {
	float: left;
	padding-left: @grid-gutter / 2;
	padding-right: @grid-gutter / 2;
	.clearfix;
}

.make-columns(@grid-columns);